<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>主页</title>
    {% include 'css.html' %}
</head>
<body>
{% include 'index/head.html' %}
{% include 'index/navbar.html' %}

<div class="container">
</div>

<div class="jumbotron jumbotron-fluid bg-dark text-center text-white" style="margin-bottom: 0px; margin-top: 1000px;">
    <h6><a href="https://github.com/Kirito0918/mywebsite/">https://github.com/Kirito0918/mywebsite/</a></h6>
</div>
</body>
{% include 'script.html' %}
</html>